.container {
  background-color: #fff;
  padding-bottom: 15px;

  ed-member-list,
  ed-expense-list {
    margin-top: 15px;
    display: inline-block;
    width: 100%;
  }
}

ed-result-list {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
  padding-top: 20px;
  position: relative;

  &::before {
    content: '';
    height: 3px;
    background-color: #ccc;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
  }
}
